In [ ]:
import pandas as pd
import numpy as np

In [ ]:
dados = {
    'nome': ['João', 'Maria', 'José', np.nan, 'Pedro', 'Judas', 'Tiago'],
    'sexo': ['M', 'F', 'M', np.nan, 'M', 'M', np.nan],
    'idade': [14, 13, np.nan, np.nan, 15, 13, 14],
    'nota': [4, 10, 7, np.nan, 8, 9, 7]
}
df = pd.DataFrame(dados)

In [ ]:
df["idade"].mean()

In [ ]:
df.dropna()

In [ ]:
df.dropna(how='all')

In [ ]:
df['serie'] = np.nan

In [ ]:
df

In [ ]:
df.dropna(how='all', axis=1)

In [ ]:
df.dropna(thresh=3)

In [ ]:
df['serie'].fillna(8, inplace=True)

In [ ]:
df

In [ ]:
df['serie'] = np.nan

In [ ]:
df

In [ ]:
df['idade'].mean()

In [ ]:
df['idade'].fillna(df['idade'].mean(), inplace=True)

In [ ]:
df

In [ ]:
df[df['nome'].notnull() & df['sexo'].notnull()]